<ion-content>
  <h1 id="titulo">GUIA DE JUEGO</h1>
<ion-grid>
  <ion-row>
    <ion-col>
      <img id="imagen" alt="Silhouette of mountains" src="../../../assets/img/historia_1.png" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >

      <p id="texto">
      <strong id="center">Mecanica de Juego</strong>
      <br>
      Brincar, caminar, lanzar logos Java, aplastar y recolección de objetos.
      <br>
      <br>
      <strong id="center">Controles para el jugador</strong>
      <br>
      A flecha izquierda = Izquierda
      <br>
      D Flecha derecha= moverá a la derecha
      <br>
      W arriba = El personaje saltara
      <br>
      X abajo= Bajara
      <br>
      Espacio = disparo de java
      <br>
      <br>
      <Strong id="center">Escenarios</Strong>
      <br>
      Para completar el juego, el jugador debe atravesar un total de 3 escenarios, en
cada uno de ellos hay una cantidad de fuerzas del rey Serche´s, así como un
"jefe" al final. Derrotar al Rey Serches le permite al jugador Rescatar a la
princesa Vidalia.
<br>
<br>
<strong id="center">Cuartos y caminos secretos</strong>
<br>
Se cuenta con pasajes secretos para avanzar en la historia en forma de cajas de madera en las
cuales el protagonista al verse sin camino podrá acceder por detrás de las mismas
continuando así su aventura.
<br>
<br>
<strong id="center">Coleccionables</strong>
<br>
A lo largo del recorrido Charlie se podrá encontrar con objetos coleccionables
que lo ayudaran a completar su misión de rescatar a la princesa en este caso
podrás encontrar unos tuppers con comida dentro que te ayudaran en tu viaje.
      </p>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab id="descarga" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button download="Guia_Charlies" href="https://drive.google.com/file/d/17SqE_sg2Bo3WM8zy7LelmR8Ombvx5v6t/view?usp=sharing" color="dark">
    <ion-icon 
    
    name="code-download-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>

<app-header></app-header>
