ion-content{
    --background: url('../../../assets/img/BG.png') 0 0/100% 100% no-repeat
 }
 
 
 #body{

    background: rgba(32, 239, 180, 0.5);
}
.alertHeader {
    color: #b52024 !important;
   // --color: #b52024 !important;
 }
 h2.alertHeader {
   color: #b52024 !important;
  // --color: #b52024 !important;
 }
 
 //this works for alertHeader when inspecting in the browser
 .alert-sub-title.sc-ion-alert-md, .alert-title.sc-ion-alert-md {
   color: #b32224;
 }
 #titulo{

    font-family: copperplate;
   font-weight: 1000px!important;
    font-size: 5vh;
    font-weight: 1000;
    text-align: center;
    color:#3d2304;
    margin-top: 25px;
    margin-block-end: -10px;
}

#titulocard{

    font-family: copperplate;
    font-weight: 1000px!important;
     font-size: 5vh;
     font-weight: 1000;
     text-align: center;
     color:#3d2304;
     border: 100px;
}
#cardpersonaje{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 4vh;
    margin-top: 5vh;
    background-color: rgba(245, 245, 245, 1);
    opacity: 1;
    border-radius: 20px;
}
#imagen{
margin: auto;
display: block;
height: 30vh;
width: 20vh;
}