ion-content{
    --background: url('../../../assets/img/BG.png') 0 0/100% 100% no-repeat
 }
 
 
 #body{

    background: rgba(32, 239, 180, 0.5);
}
ion-slides {
    --bullet-background: rgb(0, 0, 0);
    --bullet-background-active: rgb(46, 206, 113);

}
 #titulo{

    font-family: copperplate;
   font-weight: 1000px!important;
    font-size: 5vh;
    font-weight: 1000;
    text-align: center;
    color:#3d2304;
    margin-top: 25px;
    margin-block-end: -10px;
}

#card{
    height: 80vh;
    margin: 2vh;
    margin-top: 5vh;
    background-color: rgba(245, 245, 245, 1);
    opacity: 1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}
#imagen{
    border-radius: 20px;
    margin: auto;
    display: block;
}
#titulocard{

    font-family: copperplate;
    font-weight: 1000px!important;
     font-size: 3vh;
     font-weight: 1000;
     text-align: center;
     color:#3d2304;
}
#proce{
    margin-top: -1vh;
    text-align: center;
    font-size: 2.3vh;
    color:#3d2304;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#subcard{
    margin-top: .5vh;
    text-align: center;
    font-size: 1.5vh;
    color:#3d2304;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#texto{
    margin: .3vh;
    text-align: justify;
    font-size: 1.5vh;
    color:#3d2304;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}