<ion-content >
<ion-grid id="body">
  <ion-grid>
    <ion-row>
      <img id="principal" src="../../../assets/img/logo.png" alt="">
    </ion-row>
    <ion-row >
      <h1 id="titulo">-THE CHARLIES AT ADVENTURE-</h1>
      <p id="texto">
    <i>Es un juego de aventura donde charlies es el personaje principal, este personaje vive en un mundo de internet donde se enfrenta contra los malwares comandado por el rey serches, un ogro de internet que busca la dominación de la red, está inmerso en las tecnologías y se encargará de rescatar a la princesa vidalia. </i>
      </p>
    </ion-row>
  </ion-grid>
</ion-grid>
</ion-content>
<app-header></app-header>