ion-content{
   --background: url('../../../assets/img/fondo.png') 0 0/100% 100% no-repeat
}



#principal{
margin-top: 15px;
margin-block-end: -50px;
}
#texto{

    padding: 2.5vh;
    text-align: justify;
    font-size: 2.3vh;
    color:#3d2304;
    font-family:cursive ;
}

#titulo{

    font-family: copperplate;
   font-weight: 1000px!important;
    font-size: 5vh;
    font-weight: 1000;
    text-align: center;
    color:#3d2304;
    margin-top: 35px;
    margin-block-end: -10px;
}

#body{

    background: rgba(166, 205, 227, 0.5);
}