ion-content{
  --background: url('../../../assets/img/BG.png') 0 0/100% 100% no-repeat
}


#body{

  background: rgba(32, 239, 180, 0.5);
}
 #titulo{

    font-family: copperplate;
   font-weight: 1000px!important;
    font-size: 5vh;
    font-weight: 1000;
    text-align: center;
    color:#3d2304;
    margin-top: 5vh;
    margin-block-end: -5px;
}

#card{
    margin: 4vh;
    margin-top: 3vh;
    background-color: rgba(245, 245, 245, 1);
    opacity: 1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

#titulo2{

    font-family: copperplate;
   font-weight: 1000px!important;
    font-size: 4vh;
    font-weight: 1000;
    text-align: center;
    color:#3d2304;

}
#texto{

    text-align: justify;
    font-size: 2.3vh;
    color:#3d2304;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#texto2{

  padding: 2vh;
  text-align: justify;
  font-size: 2.3vh;
  color:#3d2304;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#texto3{
  text-align:center;
  font-size: 2.3vh;
  color:#3d2304;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}