<ion-content>
  <h1 id="titulo">CONTACTO</h1>
  <br>
  <ion-grid id="formulario">
    <ion-row id="form1">
      <ion-col>
        <ion-input  placeholder="Nombre"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input  placeholder="Apellido"></ion-input>
      </ion-col>
    </ion-row >
    <ion-row id="form2">
      <ion-input type="email" placeholder="Email@domain.com"></ion-input>
    </ion-row>
    <ion-row id="form3">
      <ion-input placeholder="Mensaje"></ion-input>
    </ion-row>
    <ion-row>
      <button  class="button-74" role="button">Enviar</button>
    </ion-row>
  </ion-grid>
  <h1 id="titulo2">CREDITOS</h1>
  <p id="texto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, enim aliquid. Ipsa ipsam in quae reiciendis, corrupti ex blanditiis magni veritatis? Eveniet, perferendis delectus dolores expedita natus non libero ad. Beatae recusandae cupiditate labore distinctio tenetur fugit cumque, iure, provident quia saepe itaque perferendis quae magnam nostrum odit consequuntur. Iusto et quae sint placeat corrupti quos doloribus rerum, mollitia tempora.
  </p>
</ion-content>
<app-header></app-header>
