<ion-content>
  <h1 id="titulo">CREDITOS</h1>
  <p id="texto2">
    Charlie ́s Adventure es un videojuego de plataforma en 2D lanzado
en el año 2022 por Alumnos de la Universidad Tecnológica de
Morelia. Al principio fue publicado como juego 3D, pero después
salió al público una versión
definitiva en 2D.
  </p>
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="../../../assets/img/juca.jpg" />
    <ion-card-header>
      <ion-card-title id="titulo2">Juan Carlos</ion-card-title>
      <ion-card-subtitle id="texto3">Lider de Proyecto</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="../../../assets/img/Joseph.jpeg" />
    <ion-card-header>
      <ion-card-title id="titulo2">Joseph Valencia</ion-card-title>
      <ion-card-subtitle id="texto3">Desarrollador</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="../../../assets/img/hunter.png" />
    <ion-card-header>
      <ion-card-title id="titulo2">Luis Enrique</ion-card-title>
      <ion-card-subtitle id="texto3">Desarrollador</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
<app-header></app-header>
